In [15]:
# HSI members top 10 by percentage
from lxml import html,cssselect
import requests
import sys
import pandas as pd
stocks = ["0700.HK","0005.HK","1299.HK","0941.HK","0939.HK","1398.HK","3988.HK","0001.HK","0388.HK","2318.HK"]
#stocks = ["2318.HK"]
def get_quote(name):   
    
    page = requests.get('http://finance.yahoo.com/q?s='+ name )
    tree = html.fromstring(page.content)

    path = '//*[@id="yfi_rt_quote_summary"]/div[2]/div/span/span/text()'
    path2 = '//*[@id="yfi_rt_quote_summary"]/div[1]/div/h2/text()'

    quote = tree.xpath(path)
    quote2 = tree.xpath(path2)
    
    price_sign = tree.cssselect("span span img")
    
    df = pd.DataFrame()
    
    df['Price'] = [quote[0].strip()]
    df['Change'] = [quote[1].strip()]
    df['Change percentage'] = (quote[2].strip())[1:-1]
    try:
        df['Sign'] = [price_sign[0].attrib['alt']]
    except:
        df['Sign'] = ['NaN']
    df['Ticker name'] = name
    return df


df2 = []

#df2 = get_quote('0941.HK')

for name in stocks:
    #df3 = get_quote(name)
    df2.append(get_quote(name))

# concat can turn the chaotic state into a organised one
df2 = pd.concat(df2,axis=0,ignore_index=True)
#df2.reset_index()
df2

    Price Change Change percentage Sign Ticker name
0  171.20   7.40             4.52%   Up     0700.HK
1   50.85   0.00             0.00%  NaN     0005.HK
2   44.85   0.35             0.79%   Up     1299.HK
3   87.15   0.20             0.23%   Up     0941.HK
4    4.94   0.08             1.65%   Up     0939.HK
5    4.08   0.06             1.49%   Up     1398.HK
6    3.14   0.03             0.96%   Up     3988.HK
7   90.35   0.75             0.84%   Up     0001.HK
8  182.30   3.90             2.19%   Up     0388.HK
9   33.65   0.20             0.60%   Up     2318.HK