In [13]:
# HSI members top 10 by percentage
from lxml import html,cssselect
import requests
import sys
import pandas as pd
#stocks_file = pd.read_csv('hk_stocks.csv')
#stocks = stocks_file['Ticker name']
stocks = ["0700.HK","0005.HK","1299.HK","0941.HK","0939.HK","1398.HK","3988.HK","0001.HK","0388.HK","2318.HK"]
#stocks = ["83162.HK"]
def get_quote(name):   
    
    page = requests.get('http://finance.yahoo.com/q?s='+ name )
    tree = html.fromstring(page.content)

    path = '//*[@id="yfi_rt_quote_summary"]/div[2]/div/span/span/text()'
    path2 = '//*[@id="yfi_rt_quote_summary"]/div[1]/div/h2/text()'

    quote = tree.xpath(path)
    quote2 = tree.xpath(path2)
    
    price_sign = tree.cssselect("span span img")
    
    df = pd.DataFrame()
    df['Ticker name'] = [name]
    df['Price'] = [quote[0].strip()]
    try:
        df['Sign'] = [price_sign[0].attrib['alt']]
    except:
        df['Sign'] = ['NaN']
    df['Change'] = [quote[1].strip()]
    df['Change %'] = (quote[2].strip())[1:-1]
    return df


df2 = []

#df2 = get_quote('0941.HK')

for name in stocks:
    #df3 = get_quote(name)
    df2.append(get_quote(name))

# concat can turn the chaotic state into a organised one
df2 = pd.concat(df2,axis=0,ignore_index=True)
#df2.reset_index()
df2

  Ticker name   Price Sign Change Change %
0     0700.HK  171.20   Up   7.40    4.52%
1     0005.HK   50.85  NaN   0.00    0.00%
2     1299.HK   44.85   Up   0.35    0.79%
3     0941.HK   87.15   Up   0.20    0.23%
4     0939.HK    4.94   Up   0.08    1.65%
5     1398.HK    4.08   Up   0.06    1.49%
6     3988.HK    3.14   Up   0.03    0.96%
7     0001.HK   90.35   Up   0.75    0.84%
8     0388.HK  182.30   Up   3.90    2.19%
9     2318.HK   33.65   Up   0.20    0.60%

In [26]:
df2.sort_values(by=['Change %'],ascending=False)

  Ticker name   Price Sign Change Change %
0     0700.HK  171.20   Up   7.40    4.52%
8     0388.HK  182.30   Up   3.90    2.19%
4     0939.HK    4.94   Up   0.08    1.65%
5     1398.HK    4.08   Up   0.06    1.49%
6     3988.HK    3.14   Up   0.03    0.96%
7     0001.HK   90.35   Up   0.75    0.84%
2     1299.HK   44.85   Up   0.35    0.79%
9     2318.HK   33.65   Up   0.20    0.60%
3     0941.HK   87.15   Up   0.20    0.23%
1     0005.HK   50.85  NaN   0.00    0.00%

In [14]:
import pandas.io.data as web
data=[]
for ticker in stocks:
    try:
        x = web.get_data_yahoo(ticker,'05/27/2016','05/28/2016')
        x['ticker'] = ticker
        data.append(x)
    except:
        pass
print pd.concat(data)

              Open    High     Low   Close     Volume  Adj Close   ticker
Date
2016-05-27  165.00  171.80  164.50  171.20   41274800   171.2000  0700.HK
2016-05-27   50.80   51.15   50.40   50.85   24129800    50.8500  0005.HK
2016-05-27   44.60   44.95   44.30   44.90   17432300    44.9000  1299.HK
2016-05-27   86.70   87.20   86.00   87.10   11440600    85.9040  0941.HK
2016-05-27    4.85    4.96    4.83    4.94  303928600     4.6660  0939.HK
2016-05-27    4.03    4.09    3.98    4.08  238600900     3.8467  1398.HK
2016-05-27    3.12    3.15    3.08    3.14  278486700     3.1400  3988.HK
2016-05-27   89.55   91.00   89.30   90.25    5298800    90.2500  0001.HK
2016-05-27  178.40  182.40  177.90  182.40    6053500   182.4000  0388.HK
2016-05-27   33.55   33.85   33.30   33.70   25812800    33.7000  2318.HK

In [15]:
df2

  Ticker name   Price Sign Change Change %
0     0700.HK  171.20   Up   7.40    4.52%
1     0005.HK   50.85  NaN   0.00    0.00%
2     1299.HK   44.85   Up   0.35    0.79%
3     0941.HK   87.15   Up   0.20    0.23%
4     0939.HK    4.94   Up   0.08    1.65%
5     1398.HK    4.08   Up   0.06    1.49%
6     3988.HK    3.14   Up   0.03    0.96%
7     0001.HK   90.35   Up   0.75    0.84%
8     0388.HK  182.30   Up   3.90    2.19%
9     2318.HK   33.65   Up   0.20    0.60%