In [1]:
import pandas as pd
import itertools

In [85]:
table = pd.read_excel('portfolio.xlsx')
HSI_high = 24000
HSI_low = 23000
HSI_target = 23500
current_month = 10
#set HSI range
#range = []
table2 = table
#table2['abc'] = 23300 - table2['EXERCISE PRICE']
def result(low,high,pfolio):
    tb = pfolio
    #listing =[]
    for target in range(low,high,50):
        #Determine Call or put
        listing =[]
        for callput,ex_price,premium,quantity in zip(tb['CALL/PUT'],tb['EXERCISE PRICE'],tb['PREMIUM'],tb['QUANTITY']):
            if (callput == 'Call') & (ex_price <= target) & (premium > 0):
                #long call
                listing.append((target - ex_price - premium)*quantity*10)
            elif (callput == 'Call') & (ex_price <= target) & (premium < 0):
                #short call
                listing.append((-premium - (target - ex_price))*quantity*10)
            elif (callput == 'Put') & (ex_price >= target) & (premium > 0):
                #long put
                listing.append((ex_price - target - premium)*quantity*10)
            elif (callput == 'Put') & (ex_price >= target) & (premium < 0):
                #short put
                listing.append((-premium - (ex_price - target))*quantity*10)
            else:
                listing.append(0)
        table2[target] = listing

In [86]:
#table2['abc']
result(23000,24200,table2)
table2

,CALL/PUT,EXERCISE PRICE,PREMIUM,MONTH,QUANTITY,23000,23050,23100,23150,23200,...,23700,23750,23800,23850,23900,23950,24000,24050,24100,24150
0,Call,23600.0,-108.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,560.0,-2940.0,-6440.0,-9940.0,-13440.0,-16940.0,-20440.0,-23940.0,-27440.0,-30940.0
1,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Call,23400.0,240.0,10.0,2.0,0.0,0.0,0.0,0.0,0.0,...,1200.0,2200.0,3200.0,4200.0,5200.0,6200.0,7200.0,8200.0,9200.0,10200.0
3,Call,23000.0,326.0,10.0,5.0,-16300.0,-13800.0,-11300.0,-8800.0,-6300.0,...,18700.0,21200.0,23700.0,26200.0,28700.0,31200.0,33700.0,36200.0,38700.0,41200.0

In [87]:
table2.ix[:,5:len(table2.columns)].sum()

23000   -16300.0
23050   -13800.0
23100   -11300.0
23150    -8800.0
23200    -6300.0
23250    -3800.0
23300    -1300.0
23350     1200.0
23400    -1100.0
23450     2400.0
23500     5900.0
23550     9400.0
23600    20460.0
23650    20460.0
23700    20460.0
23750    20460.0
23800    20460.0
23850    20460.0
23900    20460.0
23950    20460.0
24000    20460.0
24050    20460.0
24100    20460.0
24150    20460.0
dtype: float64