In [1]:
import pandas as pd
import urllib
import requests
from bs4 import BeautifulSoup as bs
import datetime
#https://www.hkex.com.hk/chi/cbbc/newissue/newlaunch_c.htm
import functions

In [2]:
url_cbbcs = 'http://www.hkex.com.hk/eng/market/sec_tradinfo/stockcode/eisdcbbc.htm'
thepage_cbbcs = urllib.urlopen(url_cbbcs)
soup_cbbcs = bs(thepage_cbbcs,"html.parser")

In [27]:
records = []
for tr in soup_cbbcs.findAll("tr"):
    trs = tr.findAll("td")
    record = []
    try:
        record.append(trs[0].text)
        #record.append(trs[1].a['href'])
        record.append(trs[1].a['href'])
        record.append((trs[2].text))
        record.append(trs[3].text)
        #record.append(datetime.datetime.strptime(trs[3],'%d/%m/%y'))
        records.append(record)
    except:
        pass
    
df = pd.DataFrame(data=records)
#housekeep the df
df.columns = ['STOCK CODE', 'NAME','LOT','EXPIRY']
df['LOT'] = df['LOT'].str.replace(',','').astype('int')
df['EXPIRY'] = df['EXPIRY'].apply(lambda x:datetime.datetime.strptime(x, '%d/%m/%Y'))
df['STOCK CODE'] = df['STOCK CODE'].astype('int')

In [28]:
df2 = df

#df2.loc[:,'Underlying Quote'] = pd.Series(cbbc_loop(df2['STOCK CODE']),len(df2))

In [29]:
df2.head()

,STOCK CODE,NAME,LOT,EXPIRY
0,60000,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-30
1,60001,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-11-21
2,60002,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-11
3,60003,../../../invest/company/profile_page_e.asp?Wid...,2000,2017-01-11
4,60004,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26

In [30]:
xl = pd.ExcelFile("pandas_simple.xlsx")

excel_result = xl.parse("Sheet2")
excel_result.tail()

      STOCK CODE     w
2101       69986  None
2102       69987  None
2103       69993  None
2104       69994  None
2105       69999  None

In [45]:
#[Task] Find out what is outstanding

len(excel_result[excel_result['w'] == 'None'])

1607

In [46]:
outstanding = excel_result['STOCK CODE'][excel_result['w']=='None']
outstanding.head()

499    61565
500    61566
501    61578
502    61580
503    61610
Name: STOCK CODE, dtype: int64

In [48]:
#foo = cbbc_loop(df3['STOCK CODE'])
#df3.loc[:,'Q'] = pd.Series(foo,range(0,len(df3)))
functions.cbbc_loop(outstanding[0:10])


#[Next time] Next step how to update value of filtered result

['N/A', 'N/A', '941', '688', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A']

In [69]:
#boo = cbbc_loop(df2['STOCK CODE'][0:499])

In [138]:
# Create a Pandas dataframe from some data.
df3 = df2[['STOCK CODE','Quote']]

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_new.to_excel(writer, sheet_name='Sheet2')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [1]:
df

NameError: name 'df' is not defined