In [101]:
import pandas as pd
import urllib
import requests
from bs4 import BeautifulSoup as bs
import datetime

In [126]:
url = 'http://www.hkex.com.hk/eng/market/sec_tradinfo/stockcode/eisdcbbc.htm'
thepage = urllib.urlopen(url)
soup = bs(thepage,"html.parser")

In [146]:
records = []
for tr in soup.findAll("tr"):
    trs = tr.findAll("td")
    record = []
    try:
        record.append(trs[0].text)
        #record.append(trs[1].a['href'])
        record.append(trs[1].a['href'])
        record.append((trs[2].text))
        record.append(trs[3].text)
        #record.append(datetime.datetime.strptime(trs[3],'%d/%m/%y'))
        records.append(record)
    except:
        pass
    
df = pd.DataFrame(data=records)
#housekeep the df
df.columns = ['STOCK CODE', 'NAME','LOT','EXPIRY']
df['LOT'] = df['LOT'].str.replace(',','').astype('int')
df['EXPIRY'] = df['EXPIRY'].apply(lambda x:datetime.datetime.strptime(x, '%d/%m/%Y'))

In [128]:
#df[df['LOT'] == 10000]
df[df['EXPIRY'] > '2017-01-01']

,STOCK CODE,NAME,LOT,EXPIRY
2,60002,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-11
3,60003,../../../invest/company/profile_page_e.asp?Wid...,2000,2017-01-11
4,60004,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
5,60005,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27
7,60007,../../../invest/company/profile_page_e.asp?Wid...,20000,2017-02-08
8,60008,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-09-28
9,60009,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-11-29
10,60010,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-10-30
11,60011,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-03
12,60012,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
13,60013,../../../invest/company/profile_page_e.asp?Wid...,20000,2017-03-08
16,60018,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27
17,60020,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-10-30
19,60025,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-11-29
20,60031,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
22,60035,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
23,60036,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
24,60037,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
25,60038,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
26,60039,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
27,60042,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
28,60044,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
30,60047,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-10-20
32,60051,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
33,60053,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27
34,60054,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30
35,60067,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-09-28
36,60068,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
37,60070,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-10-30
38,60071,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-11-29
...,...,...,...,...
2083,69883,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-05-29
2084,69884,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-06-29
2085,69885,../../../invest/company/profile_page_e.asp?Wid...,4000,2017-08-30
2086,69886,../../../invest/company/profile_page_e.asp?Wid...,4000,2017-08-30
2087,69887,../../../invest/company/profile_page_e.asp?Wid...,10000,2018-02-27
2088,69888,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-12-28
2089,69891,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30
2091,69904,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
2092,69905,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
2093,69906,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
2094,69909,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
2095,69911,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27
2096,69917,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30
2097,69923,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27
2098,69927,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
2099,69928,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26
2100,69931,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
2101,69933,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30
2102,69935,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-10-30
2103,69940,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30
2104,69954,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-28
2105,69962,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-31
2106,69970,../../../invest/company/profile_page_e.asp?Wid...,5000,2017-02-17
2107,69974,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-02-17
2108,69975,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-08-18
2109,69976,../../../invest/company/profile_page_e.asp?Wid...,5000,2017-09-15
2110,69980,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
2111,69983,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-09-28
2112,69986,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-04-21
2114,69993,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27