In [1]:
import pandas as pd
import urllib
import requests
from bs4 import BeautifulSoup as bs
import datetime
#https://www.hkex.com.hk/chi/cbbc/newissue/newlaunch_c.htm
import functions

In [2]:
url_cbbcs = 'http://www.hkex.com.hk/eng/market/sec_tradinfo/stockcode/eisdcbbc.htm'
thepage_cbbcs = urllib.urlopen(url_cbbcs)
soup_cbbcs = bs(thepage_cbbcs,"html.parser")

In [3]:
records = []
for tr in soup_cbbcs.findAll("tr"):
    trs = tr.findAll("td")
    record = []
    try:
        record.append(trs[0].text)
        #record.append(trs[1].a['href'])
        record.append(trs[1].a['href'])
        record.append((trs[2].text))
        record.append(trs[3].text)
        #record.append(datetime.datetime.strptime(trs[3],'%d/%m/%y'))
        records.append(record)
    except:
        pass
    
df = pd.DataFrame(data=records)
#housekeep the df
df.columns = ['STOCK CODE', 'NAME','LOT','EXPIRY']
df['LOT'] = df['LOT'].str.replace(',','').astype('int')
df['EXPIRY'] = df['EXPIRY'].apply(lambda x:datetime.datetime.strptime(x, '%d/%m/%Y'))
df['STOCK CODE'] = df['STOCK CODE'].astype('int')

In [6]:
df.tail()

,STOCK CODE,NAME,LOT,EXPIRY
1977,69986,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-04-21
1978,69987,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-07
1979,69993,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27
1980,69994,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-30
1981,69999,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29

In [32]:
searchList = list(df['STOCK CODE'][0:201])

In [34]:
searchListResult = functions.cbbc_loop(searchList)

In [50]:
df['underlying'] = 'None'

In [54]:
df.loc[0:200,'underlying'] = searchListResult

In [59]:
df

,STOCK CODE,NAME,LOT,EXPIRY,underlying
0,60000,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-30,1288
1,60001,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-11-21,2628
2,60002,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-11,883
3,60003,../../../invest/company/profile_page_e.asp?Wid...,2000,2017-01-11,386
4,60004,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
5,60005,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27,N/A
6,60006,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,N/A
7,60007,../../../invest/company/profile_page_e.asp?Wid...,20000,2017-02-08,688
8,60008,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-09-28,N/A
9,60009,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-11-29,N/A
10,60010,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-10-30,N/A
11,60011,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-03,883
12,60012,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,27
13,60013,../../../invest/company/profile_page_e.asp?Wid...,20000,2017-03-08,386
14,60014,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,N/A
15,60015,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,N/A
16,60018,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27,N/A
17,60020,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-10-30,N/A
18,60021,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,N/A
19,60025,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-11-29,N/A
20,60031,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
21,60034,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,N/A
22,60035,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
23,60036,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
24,60037,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
25,60038,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
26,60039,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
27,60042,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,N/A
28,60044,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,N/A
29,60049,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,N/A
...,...,...,...,...,...
1952,69885,../../../invest/company/profile_page_e.asp?Wid...,4000,2017-08-30,None
1953,69886,../../../invest/company/profile_page_e.asp?Wid...,4000,2017-08-30,None
1954,69891,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30,None
1955,69900,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,None
1956,69904,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,None
1957,69905,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,None
1958,69906,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,None
1959,69909,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,None
1960,69911,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27,None
1961,69917,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30,None
1962,69923,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-04-27,None
1963,69927,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,None
1964,69928,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-01-26,None
1965,69931,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,None
1966,69933,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30,None
1967,69935,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-10-30,None
1968,69940,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-30,None
1969,69954,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-28,None
1970,69962,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-03-31,None
1971,69970,../../../invest/company/profile_page_e.asp?Wid...,5000,2017-02-17,None
1972,69974,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-02-17,None
1973,69975,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-08-18,None
1974,69976,../../../invest/company/profile_page_e.asp?Wid...,5000,2017-09-15,None
1975,69980,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,None
1976,69983,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-09-28,None
1977,69986,../../../invest/company/profile_page_e.asp?Wid...,1000,2017-04-21,None
1978,69987,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-07,None
1979,69993,../../../invest/company/profile_page_e.asp?Wid...,10000,2017-02-27,None
1980,69994,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-30,None
1981,69999,../../../invest/company/profile_page_e.asp?Wid...,10000,2016-12-29,None