In [4]:
import pandas_datareader.data as web
import datetime    

start = datetime.datetime(2013, 1, 1)
end = datetime.datetime(2016, 1, 27)
df = web.DataReader("GOOGL", 'yahoo', start, end)

dates =[]
for x in range(len(df)):
    newdate = str(df.index[x])
    newdate = newdate[0:10]
    dates.append(newdate)

df['dates'] = dates

print df.head()
print df.tail()

                  Open        High         Low       Close   Volume  \
Date
2013-01-02  719.420006  727.000004  716.550015  723.250034  5077500
2013-01-03  724.929993  731.930005  720.720035  723.670024  4631700
2013-01-04  729.340008  741.470017  727.679987  737.969980  5521400
2013-01-07  735.449981  739.380007  730.580038  734.749998  3308000
2013-01-08  735.540039  736.300021  724.430006  733.300033  3348800

             Adj Close       dates
Date
2013-01-02  361.987004  2013-01-02
2013-01-03  362.197209  2013-01-03
2013-01-04  369.354344  2013-01-04
2013-01-07  367.742742  2013-01-07
2013-01-08  367.017034  2013-01-08
                  Open        High         Low       Close   Volume  \
Date
2016-01-21  720.169983  737.669983  711.109985  726.669983  2596900
2016-01-22  742.000000  748.559998  740.500000  745.460022  2357300
2016-01-25  743.840027  752.460022  732.500000  733.619995  2267000
2016-01-26  735.210022  739.460022  726.969971  733.789978  1547000
2016-01-27  735.890015  735.890015  713.450012  717.580017  2121400

             Adj Close       dates
Date
2016-01-21  726.669983  2016-01-21
2016-01-22  745.460022  2016-01-22
2016-01-25  733.619995  2016-01-25
2016-01-26  733.789978  2016-01-26
2016-01-27  717.580017  2016-01-27

In [8]:
web.DataReader("1171.HK", 'yahoo', start, end)

             Open   High    Low  Close    Volume  Adj Close
Date
2013-01-01  12.82  12.82  12.82  12.82         0   12.11345
2013-01-02  12.90  13.94  12.90  13.78  74749600   13.02054
2013-01-03  13.98  14.36  13.82  14.12  73564400   13.34180
2013-01-04  14.12  14.24  13.70  14.00  31510500   13.22841
2013-01-07  14.10  14.48  14.06  14.24  31323700   13.45519
2013-01-08  14.30  14.30  13.72  13.88  30353400   13.11503
2013-01-09  13.92  14.00  13.72  13.92  29529700   13.15282
2013-01-10  13.94  14.34  13.94  14.04  41535000   13.26621
2013-01-11  14.30  14.38  13.82  13.86  32585300   13.09613
2013-01-14  13.74  14.08  13.74  14.02  23363000   13.24731
2013-01-15  13.90  14.26  13.82  13.86  20902200   13.09613
2013-01-16  13.86  13.86  13.40  13.56  38381000   12.81266
2013-01-17  13.56  13.62  13.08  13.20  41598200   12.47250
2013-01-18  13.38  13.60  13.36  13.52  24640600   12.77487
2013-01-21  13.58  13.84  13.56  13.80  17264600   13.03944
2013-01-22  13.70  13.82  13.54  13.58  18832400   12.83156
2013-01-23  13.64  13.70  13.30  13.64  20976700   12.88826
2013-01-24  13.50  13.76  13.44  13.50  22916600   12.75597
2013-01-25  13.46  13.50  13.06  13.16  36593100   12.43471
2013-01-28  13.10  13.20  13.06  13.08  16549700   12.35912
2013-01-29  13.18  13.38  13.04  13.30  17984800   12.56699
2013-01-30  13.42  13.54  13.26  13.36  14100300   12.62369
2013-01-31  13.20  13.30  13.08  13.26  21379900   12.52920
2013-02-01  13.24  13.28  13.08  13.28  14838900   12.54810
2013-02-04  13.34  13.54  13.12  13.28  31481200   12.54810
2013-02-05  13.06  13.26  12.92  12.96  26034400   12.24573
2013-02-06  13.08  13.18  12.96  13.06  13055900   12.34022
2013-02-07  13.04  13.04  12.82  12.84  16258500   12.13235
2013-02-08  12.84  12.94  12.76  12.86  11396100   12.15124
2013-02-11  12.86  12.86  12.86  12.86         0   12.15124
...           ...    ...    ...    ...       ...        ...
2015-12-17   3.50   3.60   3.50   3.54   5525000    3.53244
2015-12-18   3.50   3.65   3.46   3.62   8897300    3.61226
2015-12-21   3.61   3.73   3.58   3.67  10346900    3.66216
2015-12-22   3.70   3.71   3.64   3.68   7299000    3.67214
2015-12-23   3.69   3.77   3.69   3.74   5235500    3.73201
2015-12-24   3.76   3.80   3.72   3.73   4355600    3.72203
2015-12-25   3.73   3.73   3.73   3.73         0    3.72203
2015-12-28   3.73   3.78   3.69   3.70   5192000    3.69209
2015-12-29   3.72   3.74   3.65   3.72   4341500    3.71205
2015-12-30   3.76   3.76   3.62   3.68   4276000    3.67214
2015-12-31   3.70   3.70   3.61   3.62   2835000    3.61226
2016-01-01   3.62   3.62   3.62   3.62         0    3.61226
2016-01-04   3.60   3.62   3.42   3.44  10610000    3.43265
2016-01-05   3.46   3.51   3.38   3.41   6532900    3.40271
2016-01-06   3.42   3.65   3.42   3.64  16487700    3.63222
2016-01-07   3.57   3.61   3.36   3.37  17672600    3.36280
2016-01-08   3.47   3.57   3.36   3.52  15806900    3.51248
2016-01-11   3.42   3.44   3.34   3.35  10884100    3.34284
2016-01-12   3.37   3.40   3.25   3.26   9313700    3.25303
2016-01-13   3.37   3.38   3.22   3.24   8263500    3.23308
2016-01-14   3.19   3.28   3.10   3.24  11164000    3.23308
2016-01-15   3.30   3.30   3.13   3.14   5539900    3.13329
2016-01-18   3.16   3.14   3.04   3.08   6698000    3.07342
2016-01-19   3.06   3.16   3.04   3.12   9847000    3.11333
2016-01-20   3.11   3.13   2.99   3.01   9170000    3.00357
2016-01-21   3.02   3.08   2.88   2.89  11822100    2.88382
2016-01-22   2.97   3.15   2.93   3.11  20155500    3.10335
2016-01-25   3.18   3.25   3.09   3.11   9380500    3.10335
2016-01-26   3.12   3.12   2.88   2.93  14078000    2.92374
2016-01-27   2.99   3.04   2.92   2.99   8594800    2.98361

[802 rows x 6 columns]