In [1]:
import pandas as pd
import urllib
import requests
from bs4 import BeautifulSoup as bs
import datetime
#https://www.hkex.com.hk/chi/cbbc/newissue/newlaunch_c.htm
import functions

In [2]:
url_cbbcs = 'http://www.hkex.com.hk/chi/market/sec_tradinfo/stockcode/eisdwarr_c.htm'
thepage_cbbcs = urllib.urlopen(url_cbbcs)
soup_cbbcs = bs(thepage_cbbcs,"html.parser")

In [9]:
records = []
for tr in soup_cbbcs.findAll("tr"):
    trs = tr.findAll("td")
    record = []
    try:
        record.append(trs[0].text)
        #record.append(trs[1].a['href'])
        record.append(trs[1].a['href'])
        record.append((trs[2].text))
        record.append(trs[3].text)
        #record.append(datetime.datetime.strptime(trs[3],'%d/%m/%y'))
        records.append(record)
    except:
        pass
    
df = pd.DataFrame(data=records)
#housekeep the df
df.columns = ['STOCK CODE', 'NAME','LOT','EXPIRY']
df['LOT'] = df['LOT'].str.replace(',','').astype('int')
df['EXPIRY'] = df['EXPIRY'].apply(lambda x:datetime.datetime.strptime(x, '%d/%m/%Y'))

In [15]:
df2 = df

In [16]:
df2['Quote'] = df2['NAME'].apply(lambda x: functions.find_between(x,'WidCoID=','&WidCoAbbName'))

In [17]:
df

,STOCK CODE,NAME,LOT,EXPIRY,Quote
0,10354,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10354
1,10359,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10359
2,10362,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10362
3,10365,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10365
4,10372,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17,10372
5,10373,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17,10373
6,10374,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10374
7,10375,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10375
8,10376,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10376
9,10377,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17,10377
10,10378,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-01-13,10378
11,10379,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-02-10,10379
12,10380,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-25,10380
13,10381,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-25,10381
14,10382,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-16,10382
15,10383,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-16,10383
16,10384,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10384
17,10385,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10385
18,10388,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10388
19,10389,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10389
20,10390,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10390
21,10391,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10391
22,10392,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10392
23,10393,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10393
24,10394,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10394
25,10395,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10395
26,10396,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10396
27,10397,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10397
28,10398,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10398
29,10399,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10399
...,...,...,...,...,...
3621,29432,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-08-01,29432
3622,29436,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-12-28,29436
3623,29458,../../../invest/company/profile_page_c.asp?Wid...,20000,2017-12-05,29458
3624,29463,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-06-30,29463
3625,29464,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-01-03,29464
3626,29494,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-01-09,29494
3627,29499,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-05-29,29499
3628,29514,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-05-28,29514
3629,29528,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-05-29,29528
3630,29530,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-29,29530
3631,29531,../../../invest/company/profile_page_c.asp?Wid...,2000,2016-12-28,29531
3632,29536,../../../invest/company/profile_page_c.asp?Wid...,20000,2017-11-28,29536
3633,29550,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-06-02,29550
3634,29583,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-09-18,29583
3635,29603,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-05,29603
3636,29605,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-08-02,29605
3637,29640,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-07-26,29640
3638,29666,../../../invest/company/profile_page_c.asp?Wid...,1000,2016-12-28,29666
3639,29713,../../../invest/company/profile_page_c.asp?Wid...,2000,2016-11-28,29713
3640,29734,../../../invest/company/profile_page_c.asp?Wid...,4000,2016-12-22,29734
3641,29735,../../../invest/company/profile_page_c.asp?Wid...,4000,2016-12-30,29735
3642,29737,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-01-27,29737
3643,29738,../../../invest/company/profile_page_c.asp?Wid...,500,2017-01-27,29738
3644,29740,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-01-04,29740
3645,29741,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-01-05,29741
3646,29762,../../../invest/company/profile_page_c.asp?Wid...,2000,2018-09-04,29762
3647,29763,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-01-03,29763
3648,29811,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-08-02,29811
3649,29845,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-02-03,29845
3650,29957,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-10-03,29957

In [8]:
df

,STOCK CODE,NAME,LOT,EXPIRY,Quote
0,10354,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10354
1,10359,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10359
2,10362,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10362
3,10365,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10365
4,10372,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17,10372
5,10373,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17,10373
6,10374,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10374
7,10375,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10375
8,10376,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10376
9,10377,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17,10377
10,10378,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-01-13,10378
11,10379,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-02-10,10379
12,10380,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-25,10380
13,10381,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-25,10381
14,10382,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-16,10382
15,10383,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-16,10383
16,10384,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10384
17,10385,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10385
18,10388,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10388
19,10389,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10389
20,10390,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10390
21,10391,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10391
22,10392,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10,10392
23,10393,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10393
24,10394,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10394
25,10395,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10395
26,10396,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10396
27,10397,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22,10397
28,10398,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10398
29,10399,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09,10399
...,...,...,...,...,...
3621,29432,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-08-01,29432
3622,29436,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-12-28,29436
3623,29458,../../../invest/company/profile_page_c.asp?Wid...,20000,2017-12-05,29458
3624,29463,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-06-30,29463
3625,29464,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-01-03,29464
3626,29494,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-01-09,29494
3627,29499,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-05-29,29499
3628,29514,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-05-28,29514
3629,29528,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-05-29,29528
3630,29530,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-29,29530
3631,29531,../../../invest/company/profile_page_c.asp?Wid...,2000,2016-12-28,29531
3632,29536,../../../invest/company/profile_page_c.asp?Wid...,20000,2017-11-28,29536
3633,29550,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-06-02,29550
3634,29583,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-09-18,29583
3635,29603,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-05,29603
3636,29605,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-08-02,29605
3637,29640,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-07-26,29640
3638,29666,../../../invest/company/profile_page_c.asp?Wid...,1000,2016-12-28,29666
3639,29713,../../../invest/company/profile_page_c.asp?Wid...,2000,2016-11-28,29713
3640,29734,../../../invest/company/profile_page_c.asp?Wid...,4000,2016-12-22,29734
3641,29735,../../../invest/company/profile_page_c.asp?Wid...,4000,2016-12-30,29735
3642,29737,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-01-27,29737
3643,29738,../../../invest/company/profile_page_c.asp?Wid...,500,2017-01-27,29738
3644,29740,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-01-04,29740
3645,29741,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-01-05,29741
3646,29762,../../../invest/company/profile_page_c.asp?Wid...,2000,2018-09-04,29762
3647,29763,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-01-03,29763
3648,29811,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-08-02,29811
3649,29845,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-02-03,29845
3650,29957,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-10-03,29957

In [12]:
df

,STOCK CODE,NAME,LOT,EXPIRY
0,10354,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10
1,10359,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
2,10362,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
3,10365,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
4,10372,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17
5,10373,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17
6,10374,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
7,10375,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
8,10376,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10
9,10377,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-17
10,10378,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-01-13
11,10379,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-02-10
12,10380,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-25
13,10381,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-11-25
14,10382,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-16
15,10383,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-16
16,10384,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
17,10385,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
18,10388,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
19,10389,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
20,10390,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
21,10391,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10
22,10392,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-03-10
23,10393,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22
24,10394,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22
25,10395,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22
26,10396,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22
27,10397,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-22
28,10398,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
29,10399,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-09
...,...,...,...,...
3621,29432,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-08-01
3622,29436,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-12-28
3623,29458,../../../invest/company/profile_page_c.asp?Wid...,20000,2017-12-05
3624,29463,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-06-30
3625,29464,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-01-03
3626,29494,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-01-09
3627,29499,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-05-29
3628,29514,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-05-28
3629,29528,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-05-29
3630,29530,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-29
3631,29531,../../../invest/company/profile_page_c.asp?Wid...,2000,2016-12-28
3632,29536,../../../invest/company/profile_page_c.asp?Wid...,20000,2017-11-28
3633,29550,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-06-02
3634,29583,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-09-18
3635,29603,../../../invest/company/profile_page_c.asp?Wid...,10000,2016-12-05
3636,29605,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-08-02
3637,29640,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-07-26
3638,29666,../../../invest/company/profile_page_c.asp?Wid...,1000,2016-12-28
3639,29713,../../../invest/company/profile_page_c.asp?Wid...,2000,2016-11-28
3640,29734,../../../invest/company/profile_page_c.asp?Wid...,4000,2016-12-22
3641,29735,../../../invest/company/profile_page_c.asp?Wid...,4000,2016-12-30
3642,29737,../../../invest/company/profile_page_c.asp?Wid...,5000,2017-01-27
3643,29738,../../../invest/company/profile_page_c.asp?Wid...,500,2017-01-27
3644,29740,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-01-04
3645,29741,../../../invest/company/profile_page_c.asp?Wid...,2000,2017-01-05
3646,29762,../../../invest/company/profile_page_c.asp?Wid...,2000,2018-09-04
3647,29763,../../../invest/company/profile_page_c.asp?Wid...,10000,2018-01-03
3648,29811,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-08-02
3649,29845,../../../invest/company/profile_page_c.asp?Wid...,1000,2017-02-03
3650,29957,../../../invest/company/profile_page_c.asp?Wid...,10000,2017-10-03