In [2]:
import pandas as pd
import urllib
import requests
from bs4 import BeautifulSoup as bs

import pandas_datareader.data as web
import datetime
#https://www.hkex.com.hk/chi/cbbc/newissue/newlaunch_c.htm
#import functions
start = datetime.datetime(2000, 1, 1)
end = datetime.datetime(2016, 11, 11)
df_HHI = web.DataReader("^HSCE", 'yahoo', start, end)
df_SH = web.DataReader("000001.SS", 'yahoo', start, end)

dates =[]
for x in range(len(df_HHI)):
    newdate = str(df_HHI.index[x])
    newdate = newdate[0:10]
    dates.append(newdate)

df_HHI['dates'] = dates

#print df.head()
#print df.tail()

In [8]:
#largest_range

#df_HHI['']

In [11]:
#INDEXHANGSENG:HSCEI
df_HHI2 = web.DataReader("GOOG", 'google', start, end)

In [12]:
df_HHI2

              Open    High     Low   Close     Volume
Date
2004-08-19   49.96   51.98   47.93   50.12        NaN
2004-08-20   50.69   54.49   50.20   54.10        NaN
2004-08-23   55.32   56.68   54.47   54.65        NaN
2004-08-24   55.56   55.74   51.73   52.38        NaN
2004-08-25   52.43   53.95   51.89   52.95        NaN
2004-08-26   52.42   53.92   52.28   53.90        NaN
2004-08-27   54.00   54.26   52.79   53.02        NaN
2004-08-30   52.69   52.69   50.95   50.95        NaN
2004-08-31   51.11   51.80   51.03   51.13        NaN
2004-09-01   51.30   51.43   49.79   50.07        NaN
2004-09-02   49.50   51.13   49.42   50.70        NaN
2004-09-03   50.42   50.82   49.61   49.95        NaN
2004-09-07   50.45   50.95   49.76   50.74        NaN
2004-09-08   50.32   51.46   50.20   51.10        NaN
2004-09-09   51.20   51.30   50.45   51.10        NaN
2004-09-10   50.75   53.23   50.60   52.61        NaN
2004-09-13   53.26   54.15   53.18   53.70        NaN
2004-09-14   53.67   55.94   53.34   55.69        NaN
2004-09-15   55.22   57.06   55.04   55.94        NaN
2004-09-16   56.11   57.84   55.77   56.93        NaN
2004-09-17   57.15   58.69   56.72   58.69        NaN
2004-09-20   58.42   60.74   58.33   59.62        NaN
2004-09-21   60.04   60.15   58.70   58.86        NaN
2004-09-22   58.67   59.78   58.35   59.13        NaN
2004-09-23   59.36   61.25   58.45   60.35        NaN
2004-09-24   60.42   61.99   59.82   59.86        NaN
2004-09-27   59.72   60.38   58.84   59.07        NaN
2004-09-28   60.51   63.64   60.04   63.37        NaN
2004-09-29   63.20   67.44   63.05   65.47        NaN
2004-09-30   64.88   66.08   64.44   64.74        NaN
...            ...     ...     ...     ...        ...
2016-10-03  774.25  776.06  769.50  772.56  1278821.0
2016-10-04  776.03  778.71  772.89  776.43  1201350.0
2016-10-05  779.31  782.07  775.65  776.47  1461151.0
2016-10-06  779.00  780.48  775.54  776.86  1070692.0
2016-10-07  779.66  779.66  770.75  775.08   933158.0
2016-10-10  777.71  789.38  775.87  785.94  1174923.0
2016-10-11  786.66  792.28  780.58  783.07  1372461.0
2016-10-12  783.76  788.13  782.06  786.14   937435.0
2016-10-13  781.22  781.22  773.00  778.19  1365277.0
2016-10-14  781.65  783.95  776.00  778.53   852487.0
2016-10-17  779.80  785.85  777.50  779.96  1092973.0
2016-10-18  787.85  801.61  785.56  795.26  2056903.0
2016-10-19  798.86  804.63  797.64  801.56  1766798.0
2016-10-20  803.30  803.97  796.03  796.97  1757528.0
2016-10-21  795.00  799.50  794.00  799.37  1266181.0
2016-10-24  804.90  815.18  804.82  813.11  1697514.0
2016-10-25  816.68  816.68  805.14  807.67  1576404.0
2016-10-26  806.34  806.98  796.32  799.07  1647733.0
2016-10-27  801.00  803.49  791.50  795.35  2749221.0
2016-10-28  808.35  815.49  793.59  795.37  4269902.0
2016-10-31  795.47  796.86  784.00  784.54  2427284.0
2016-11-01  782.89  789.49  775.54  783.61  2406356.0
2016-11-02  778.20  781.65  763.45  768.70  1918414.0
2016-11-03  767.25  769.95  759.03  762.13  1943175.0
2016-11-04  750.66  770.36  750.56  762.02  2134812.0
2016-11-07  774.50  785.19  772.55  782.52  1585070.0
2016-11-08  783.40  795.63  780.19  790.51  1366873.0
2016-11-09  779.94  791.23  771.67  785.31  2607121.0
2016-11-10  791.17  791.17  752.18  762.56  4745183.0
2016-11-11  756.54  760.78  750.38  754.02  2431815.0

[3081 rows x 5 columns]