In [11]:
import rpt2csv


with open("20161020_1_dtop_f_hkcc_fut_dtl_hsi.rpt",'rb') as inputFile:
    with open("kkk.csv",'wb') as outputFile:
        rpt2csv.convert(inputFile,outputFile)

In [6]:
import pandas as pd

In [13]:
df = pd.read_csv('20161020_1_dtop_f_hkcc_fut_dtl_hsi.csv', error_bad_lines=False)

Skipping line 12: expected 1 fields, saw 6
Skipping line 13: expected 1 fields, saw 6
Skipping line 14: expected 1 fields, saw 4
Skipping line 15: expected 1 fields, saw 4

In [28]:
#solution: convert to txt file and process the data


with open('20161020_1_dtop_f_hkcc_fut_dtl_hsi.txt') as f:
    lines = f.readlines()

In [36]:
for x in lines[9:15]:
    print x.split()

['SERIES', 'GROSS', 'NET', 'NET', 'CHANGE', 'T/O', 'DEAL', 'SETTLE', 'PRICE', 'PRICE', 'CHANGE']
['-------------', '---------------', '---------------', '----------------', '---------------', '---------------', '------------', '-------------']
['HSI', 'OCT', '16', '138,211', '44,164', '772', '93,283', '59,154', '23,400', '121']
['HSI', 'NOV', '16', '10,227', '8,327', '1,581', '2,860', '316', '23,394', '118']
['HSI', 'DEC', '16', '13,175', '9,415', '149', '418', '144', '23,411', '113']
['HSI', 'MAR', '17', '1,892', '1,557', '107', '164', '54', '23,411', '122']